/* CSS to Apply To All CSS items */
/* Purpose: Border-box all items */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* CSS To Apply To The Body      */
/* Purpose: Set Background Color */
body {
    background-color: #d9dcd6;
}

/* header class                                       */
/* Prupose: Alter the font and coloring of the header */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    background-color: #2a607c;
    color: #ffffff;
}

/* header class h1's                        */
/* Purpose: Alter h1's in the header class  */
header h1 {
    display: inline-block;
    font-size: 48px;
}

/* header h1 .seo class                     */
/* Purpose: Alter a specific class for h1's */
/*          in the header class             */
header h1 .seo {
    color: #d9dcd6;
}

/* header class div's                            */
/* Purpose: Alter the div's for the header class */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    font-size: 20px;
}

/* header class div unordered lists          */
/* Prupose: Alter the Unordered lists in the */
/*          header class                     */
header nav ul {
    list-style-type: none;
}

/* header class div unordered list, list items */
/* Purpose: Alter the list items for the ul    */
/*          in the header class                */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* a CSS                    */
/* Purpose: Link formatiing */
a {
    color: #ffffff;
    text-decoration: none;
}

/* p CSS                            */
/* Set font size for all paragraphs */
p {
    font-size: 16px;
}

/* Hero class                                    */
/* Purpose: Set a dividing image as a background */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* float-left class               */
/* Prupose: Float Item To TheLeft */
.float-left {
    float: left;
    margin-right: 25px;
}

/* Float Right Class                 */
/* Purpose: Float Item To The Right  */
.float-right {
    float: right;
    margin-left: 25px;
}



/* Benefits Container                                */
/* Prupose: Create Divisor for the benefits section  */
/*          Change font and float items to the right */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT','Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #2589bd;
}

/* Benefit Section                                      */
/* Purpose: Alter The Section tag in the benefits class */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* Benefit Section h3                               */
/* Purpose: Alter the header in the section of the  */
/*          Benefits Class                          */
aside section h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* Benefit Section img                              */
/* Purpose: Alter The Image in the section of the   */
/*          Benefits class                          */
aside section img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* Content Container                           */
/* Purpose: Create Divisor with a width of 75% */
/*          Items are inline-block             */
.content {
    width: 75%;     
    display: inline-block;
    margin-left: 20px;
}

/* content section                                              */
/* Purpose: To Create a division that creates a box for content */
.content section{
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
    background-color: #0072bb;
    color: #ffffff;
}

/* content section  h2                                            */
/* Purpose: Alter the header in the sections of the content class */
.content section h2{
    margin-bottom: 20px;
    font-size: 36px;
}

/* content section  img                                           */
/* Purpose: Alter the images in the sections of the content class */
.content section img{
    max-height: 200px;
}

/* Footer Section CSS                                      */
/* Purpose: Assign Font and padding for the Footer Section */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Arial', 'sans-serif';
    text-align: center;
}

/* Footer Header CSS                                        */
/* Purpose: Alter the font size of the header in the footer */
footer h2 {
    font-size: 20px;
}